<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            JAI 2018 - Favoritos
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div>
        <ion-segment [(ngModel)]="segmentData">
            <ion-segment-button value="Trabalhos"> Trabalhos </ion-segment-button>
            <ion-segment-button value="Palestras"> Palestras </ion-segment-button>
            <ion-segment-button value="Eventos"> Eventos </ion-segment-button>
        </ion-segment>
    </div>
    <div [ngSwitch]="segmentData">
        <ion-list *ngSwitchCase="'Trabalhos'">
            <div *ngIf="listaTrabalhosFavs?.length > 0; else empty">
                <ion-card ion-item *ngFor="let fav of listaTrabalhosFavs">
                    <ion-card-content>
                        <h2 text-wrap> {{ fav.trabalho.titulo }} </h2>
                        <p text-wrap> &mdash; {{ fav.trabalho.apresentador }} </p>
                        <p text-wrap> Evento: {{ fav.trabalho.evento }} </p>
                        <p> Data: {{ getDataFav(fav) }} </p>
                        <p> Horário: {{ getHoraInicioFav(fav) }} </p>
                        <p text-wrap> Prédio/Local: {{ getPredioFav(fav) }} </p>
                        <p> Sala/Painel: {{ getSalaFav(fav) }} </p>
                    </ion-card-content>
                    <button ion-button clear icon-only item-end (click)="removeFavorito(fav, listaTrabalhosFavs, $event)">
                        <ion-icon color="danger" name="trash"></ion-icon>
                    </button>
                </ion-card>
            </div>
            <ng-template #empty>
                <ion-card>
                    <ion-card-content>
                        Nenhum favorito encontrado.
                    </ion-card-content>
                </ion-card>
            </ng-template>
        </ion-list>
        <ion-list *ngSwitchCase="'Palestras'">
            <div *ngIf="listaPalestrasFavs?.length > 0; else empty">
                <ion-card ion-item *ngFor="let fav of listaPalestrasFavs">
                    <ion-card-content>
                        <h2 text-wrap> {{ fav.nome }} </h2>
                        <p text-wrap> &mdash; {{ fav.apresentador }} </p>
                        <p text-wrap> Área: {{ fav.area }} </p>
                        <p> Data: {{ fav.data }}</p>
                        <p> Horário: {{ fav.hora.slice(0, 5) }} </p>
                        <p> Prédio: {{ fav.predio }} </p>
                        <p> Sala: {{ fav.sala }} </p>
                    </ion-card-content>
                    <button ion-button clear icon-only item-end (click)="removeFavorito(fav, listaPalestrasFavs, $event)">
                        <ion-icon color="danger" name="trash"></ion-icon>
                    </button>
                </ion-card>
            </div>
            <ng-template #empty>
                <ion-card>
                    <ion-card-content>
                        Nenhum favorito encontrado.
                    </ion-card-content>
                </ion-card>
            </ng-template>
        </ion-list>
        <ion-list *ngSwitchCase="'Eventos'">
            <div *ngIf="listaEventosFavs?.length > 0; else empty">
                <ion-card ion-item *ngFor="let fav of listaEventosFavs">
                    <ion-card-content>
                        <h2 text-wrap> {{ fav.nome }} </h2>
                        <p text-wrap> {{ fav.apresentador }} </p>
                        <p>
                            <ion-icon name="link"></ion-icon>
                            <a target="_blank" href="{{ fav.link }}"> Clique aqui para saber mais </a>
                        </p>
                    </ion-card-content>
                    <button ion-button clear icon-only item-end (click)="removeFavorito(fav, listaEventosFavs, $event)">
                        <ion-icon color="danger" name="trash"></ion-icon>
                    </button>
                </ion-card>
            </div>
            <ng-template #empty>
                <ion-card>
                    <ion-card-content>
                        Nenhum favorito encontrado.
                    </ion-card-content>
                </ion-card>
            </ng-template>
        </ion-list>

    </div>
</ion-content>
