<ion-header>
    <ion-navbar color="primary">
        <ion-title> {{ dataFormatada(dataSelect) }} - {{ moduloSelect.nome  }}</ion-title>
        <ion-toolbar>
            <ion-row>
                <ion-col>
                    <ion-searchbar placeholder="Pesquisar trabalhos..." (ionInput)="getTrabalhos($event)"></ion-searchbar>
                </ion-col>
            </ion-row>
        </ion-toolbar>
    </ion-navbar>
</ion-header>

<ion-content>
    <div>
        <ion-segment *ngIf="horasInicio" [(ngModel)]="segmentData">
            <ion-segment-button *ngFor="let hora of horasInicio" value="{{ hora }}" (click)="putSegment(hora)">
                {{ hora }}
            </ion-segment-button>
        </ion-segment>
    </div>
    <div [ngSwitch]="segmentData">
        <ng-container *ngFor="let hora of horasInicio">
            <ion-list *ngSwitchCase="hora">
                <ng-container *ngFor="let trab of listaTrabalhosModulo">
                    <ion-card ion-item *ngIf="getHoraInicioTrabalho(trab) == hora">
                        <ion-card-content>
                            <h3 text-wrap> {{ getTituloTrabalho(trab) }} </h3>
                            <p text-wrap> &mdash; {{ getApresentadorTrabalho(trab) }} </p>
                            <p text-wrap> Horário: {{ getHoraInicioTrabalho(trab) }} </p>
                            <p text-wrap> Local: {{ getPredioTrabalho(trab) }} </p>
                            <p text-wrap> Sala/Painel: {{ getSalaTrabalho(trab) }} </p>
                        </ion-card-content>
                        <button ion-button clear icon-only item-end (click)="favorito(trab, $event)">
                            <ion-icon color="danger" [name]="trab.favorito ? 'heart' : 'heart-outline'"></ion-icon>
                        </button>
                    </ion-card>
                </ng-container>
            </ion-list>
        </ng-container>
    </div>
</ion-content>

<!-- Usando virtualScroll (não pode ficar dentro de ngIf!); mais limitado":
    <ion-content padding>
    <div style="height:100%">
    <ion-list [virtualScroll]="listaTrabalhosModulo">
    <ion-card ion-item *virtualItem="let trab">
    <ion-card-content>
    <h3 text-wrap> {{ getTituloTrabalho(trab) }} </h3>
    <p text-wrap> &mdash; {{ getApresentadorTrabalho(trab) }} </p>
    <p text-wrap> Horário: {{ getHoraInicioTrabalho(trab) }} </p>
    <p text-wrap> Local: {{ getPredioTrabalho(trab) }} </p>
    <p text-wrap> Sala/Painel: {{ getSalaTrabalho(trab) }} </p>
    </ion-card-content>
    <button ion-button clear icon-only item-end (click)="favorito(trab, $event)">
    <ion-icon color="danger" [name]="trab.favorito ? 'heart' : 'heart-outline'"></ion-icon>
    </button>
    </ion-card>
    </ion-list>
    </div>
    </ion-content>
-->
