page-modulos {
    .accordion-list {
        height: 100%;
    }
    .section {
        margin-bottom: 4px;
    }
    .child {
        margin-bottom: 4px;
    }
    .label {
        margin: 0px;
    }
    .list {
        margin-bottom: 4px;
    }
}
