<ion-header>
    <ion-navbar color="primary">
        <ion-title> JAI - Programação </ion-title>
        <ion-toolbar>
            <ion-row>
                <ion-col>
                    <ion-searchbar placeholder="Pesquisar trabalhos..." (ionInput)="getTrabalhos($event)"></ion-searchbar>
                </ion-col>
                <ion-col col-2>
                    <button ion-button clear icon-only item-end color="light" (click)="mostrarFiltro()">
                        <ion-icon name="funnel"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
        </ion-toolbar>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div>
        <ion-segment *ngIf="datas" [(ngModel)]="segmentData">
            <ion-segment-button value="Modulos"> Módulos </ion-segment-button>
            <ion-segment-button *ngFor="let data of datas" value="{{ data }}" (click)="putSegment(data)">
                {{ dataFormatada(data) }}
            </ion-segment-button>
        </ion-segment>
    </div>
    <!-- Abaixo, preciso usar [virtualScroll]="listaTrabalhos", mas não funciona... bug do ionic? -->
    <div [ngSwitch]="segmentData">
        <ng-container *ngFor="let data of datas">
            <ion-list *ngSwitchCase="data" [virtualScroll]="listaTrabalhos">
                <!--<ion-item-group *ngFor="let horaInicio of getHorasIniciais(data)">
                    <ion-item-divider color="light"> {{ horaInicio }} </ion-item-divider>
                    <ng-container *ngFor="let trab of listaTrabalhos">-->
                        <ion-item *virtualItem="let trab">
                            <!--<ion-card *ngIf="getDataTrabalho(trab) == data && getHoraInicioTrabalho(trab) == horaInicio">-->
                        <ion-card *ngIf="getDataTrabalho(trab) == data">
                            <ion-card-content>
                                <h3 text-wrap> {{ getTituloTrabalho(trab) }} </h3>
                                <p text-wrap> &mdash; {{ getApresentadorTrabalho(trab) }} </p>
                                <p text-wrap> Local: {{ getPredioTrabalho(trab) }} </p>
                                <p text-wrap> Sala: {{ getSalaTrabalho(trab) }} </p>
                            </ion-card-content>
                            <button ion-button clear icon-only item-end (click)="favorito(trab, $event)">
                                <ion-icon color="danger" [name]="trab.favorito ? 'heart' : 'heart-outline'"></ion-icon>
                            </button>
                        </ion-card>
                        </ion-item>
                    <!--</ng-container>-->
                </ion-item-group>
            </ion-list>
        </ng-container>
        <ion-list *ngSwitchCase="'Modulos'">
            <button ion-item *ngFor="let agrupador of listaAgrupadores" (click)="paginaModulos(agrupador)">
                {{ agrupador.nome  }}
            </button>
        </ion-list>
    </div>
</ion-content>
